<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/476ce162-c726-494f-b7b8-169b9984e242/resourcegroups/mdasdm2019/providers/Microsoft.Web/sites/WebAPI2Tutorialvclase2019</ResourceId>
    <ResourceGroup>mdasdm2019</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi2tutorialvclase2019.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapi2tutorialvclase2019.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI2Tutorialvclase2019</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAPI2Tutorialvclase2019</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebAPI2Tutorialvclase2019Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tutorial2019dbserver.database.windows.net,1433;Initial Catalog=WebAPI2Tutorialvclase2019_db;User ID=admin-dbserver@tutorial2019dbserver;Password=1234567Aa!" Name="Data Source=tcp:tutorial2019dbserver.database.windows.net,1433;Initial Catalog=WebAPI2Tutorialvclase2019_db;User Id=admin-dbserver@tutorial2019dbserver;Password=1234567Aa!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebAPI2Tutorialvclase2019Context-20190409113253.mdf;Initial Catalog=WebAPI2Tutorialvclase2019Context-20190409113253;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebAPI2Tutorialvclase2019Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebAPI2Tutorialvclase2019Context-20190409113253; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebAPI2Tutorialvclase2019Context-20190409113253.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebAPI2Tutorialvclase2019Context-Web.config Connection String">
      <ParameterValue>data source=tcp:tutorial2019dbserver.database.windows.net,1433;initial catalog=WebAPI2Tutorialvclase2019_db;user id=admin-dbserver@tutorial2019dbserver;password=1234567Aa!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>